body {
  margin: 0;
  background-image: linear-gradient(
      rgba(104, 37, 116, .35),
      rgba(104, 37, 116, .85)
    ),
    url("/public/seamless.jpg");
  /* background-image: url('/public/seamless.jpg'); linear-gradient(rgba(103, 36, 115, 0.5), rgba(103, 36, 115, 0.5)), */
  background-color: #672473;
  color: #ffd6a2;
  text-align: center;
  font-family: 'Marmelad', sans-serif;
}

p {
  font-family: 'IBM Plex Serif', serif;
}

.material-symbols-outlined {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0em 0.5em;
  line-height: 150%;
  font-size: 3em;
  color: #dec3e0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.title {
  font-size: 2em;
  font-family: 'Righteous', cursive;
}

.artist {
  font-size: 1.5em;
  font-weight: bolder;
  font-family: 'Marmelad', sans-serif;
}

.container {
  background-color: hsla(291, 52%, 30%,.75);
}

li {
  list-style: none;
}